@charset "utf-8";
html{
	color:#000;
	background:#fff;

}
body,
p,
div,
li,
h2,
h1,
ul{
	margin: 0;
	padding: 0;
}
table{
	border-collapse:collapse;
	border-spacing: 0; 
}
em,
strong{
	font-style:normal;
	font-weight: normal;
}
ol,
ul{
	list-style: none;
}
input,
textarea,
select{
	font-family:inherit;
	font-size: inherit;
	font-weight: inherit;
	font-size:100%;
}
a{
	text-decoration: none;
}